<%= render 'shared/newpost' %>

  
  <div class="span8">
    <h2>Latest Opinions</h2>
      <ul class="nav nav-tabs">
        <li >
          <%= link_to "All", root_path %>
        </li>
        <li>
          <%= link_to "Politics", politics_path %>
        </li>
        <li>
          <%= link_to "Law", law_path %>
        </li>
        <li class="active">
          <%= link_to "Business", business_path %>
        </li>
        <li>
          <%= link_to "Lifestyle", lifestyle_path %>
        </li>
        <li>
          <%= link_to "Faith", faith_path %>
        </li>
      </ul>
      <%= render 'shared/feed' %>
    </div>
  </div>  


<!--
  <div class="center hero-unit">
    <h1>Welcome to <br> "Agree or Disagree"</h1>

    <h2>
      This is the home page for the Agree or Disagree social networking site.
    </h2>

    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
-->
 