<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :title, placeholder: "Title..." %>
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
    <%= f.select :category, options_for_select([["Politics", "Politics"], ["Business", "Business"], ["Lifestyle", "Lifestyle"]]) %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>