<div id="disagree_form">
  <%= form_for(@new_micropost) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
      <div class="field">
        <%= f.text_field :title, placeholder: "Title..." %>
        <%= f.text_area :content, placeholder: "To disagree, submit your opinion here." %>
        <%= f.hidden_field :category, :value => @micropost.category %>
      </div>

  	<%= f.fields_for :disagreements do |builder| %>
  	  <div class="field">
  	  	<%= builder.hidden_field :disagreed_id, :value => @micropost.id %>
  	  	<%= builder.hidden_field :disagreer_id, :value => @new_micropost.id %>
  	  	<%= builder.hidden_field :nested %>	
  	  </div>	
	  <% end %>    
	
	<%= f.submit "Disagree", class: "btn btn-large btn-warning" %>
  
  <% end %>    
</div>
