<% provide(:title, @micropost.id.to_s) %>
<div class="row">
  <div class="span8">
    <h3><%= @title %></h3>
      <ul class="microposts">
        <%= render @micropost %>
      </ul>
  </div>
  <div class="span4">
  	<aside class="span4">
      
    <% if signed_in? %>
      <section>
        <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      </section>
      <section>
        <%= render 'agree_form'%>
      </section>
      <section>
        <%= render 'disagree_form'%>
      </section>
    <% else %>
      <aside class="span4">
        <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
    </aside>
    <% end %>
    </aside>
  </div>
</div>


